* {
    background: darkgray;
    align-self: auto;
}

body {
    width: 90%;
    margin: 0 auto;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

#header {
    background: white;
    color: darkgray;
    width: 80%;
    text-align: center;
    padding: 20px;
    border: 2px solid;
    margin-bottom: 15px;
}

#nav {
    background: white;
    color: darkgray;
    width: 80%;
    text-align: center;
    padding: 20px;
    border: 2px solid;
    margin-bottom: 25px;
}

#section {
    background: white;
    color: darkgray;
    font-weight: bold;
    width: 490px;
    text-align: center;
    padding: 20px;
}  

article{
    background: darkgray;
    color: white;
    height: 145px;
    padding: 20px;
    margin-top: 20px;
}

#headers {
    background: white;
    color: darkgray;
    font-weight: bolder;
    border: 2px solid;
    padding: 20px;
    margin-top: 20px;
}

#para {
    background: white;
    color: darkgray;
    border: 2px solid;
    padding: 20px;
}

#left {
    float: left;
}

#aside {
    background: white;
    color: darkgray;
    width: 480px;
    height: 223px;
    text-align: center;
    padding: 20px;
    float: left;
    margin-left: 20px;
    
}

#footer {
    background: white;
    color: darkgray;
    text-align: center;
    padding: 20px;
    border: 2px solid;
    margin-top: 20px;
    width: 80%;
}
