* {
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    background: darkgray;
}

header, nav {
    background: white;
    color: darkgray;
    padding: 20px;
    margin: 20px;

}

.container {
    float: left;
    width: 47%;
    margin: 0px 20px;
}

section, aside {
    background: white;
    color: darkgray;
    padding: 20px;
    
}


aside {
    float: left;
    width: 45%;
    height: 270px;
    margin-left: 15px;
    
}

article {
    background: darkgray;
    color: white;
    padding: 20px;
    margin-top: 20px;

}

.headers, .para {
    background: white;
    color: darkgray;
    padding: 20px;
    margin: 20px;

}

.headers {
    font-weight: bolder;
}

footer{
    background: white;
    color: darkgray;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    width: 94.5%;
    display: inline-block;
}

